<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width = device-width, intial scale = 1">
	<title>Tyler and Jasmine go to Thailand </title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="main.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){

   $("h1#timeline").css("font-family", 'Open Sans Condensed');

});
</script>
<link rel="icon" type="image/png" href="favicon.png">
</head>
	<style>
	body{padding-top: 40px; 
	}

	</style>
	

<body data-spy="scroll" data-target="#my-navbar">

	<!-- Navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="#"><img id="logo" src="logo.png">
				</a>
			</div><!-- Navbar Header -->
				<div class="collapse navbar-collapse" id="navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="#where">Where</a>
						<li><a href="#gallery">Live Gallery</a>
						<li><a href="#follow">Follow Us!</a>
						</ul>

				</div>
		</div><!-- End Container -->
	</nav><!-- End navbar -->

	<!-- jumbotron -->

	<div class="jumbotron">
		<div class="container">
			<img src="tylerandjasmine.jpg" style="width:100%;height:50%">
		</div>
		<div class="container text-center">
			<div class="jumbotron-text">
				Lets go to Thailand!
			<div class="jumbotron-text-small">
				Scroll down to see live photos, follow us on a dynamically updated map, and check our twitter feed!
			</div>
			</div>
		</div><!-- End container -->
	</div><!--End Jumbotron-->
<hr>
	<div class="container">
		<section>
			<div class="row">		
			<div class="page-header" id="where"></div>
				<h1 id="timeline">Timeline</h1>
  <ul class="timeline">
    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-ok"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Arrive in Bangkok</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> March 11</small></p>
        </div>
        <div class="timeline-body">
          <p>March 11 - March 15 We are staying in Bangkok at the beautiful Salil Hotel Sukhumvit Soi Thonglor 1. </p>
          <div class="img-padding">
					<img class="img-responsive" src="salil.jpg" alt="Salil Hotel">
					<div class="photo-description">
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-home"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Heading to Phuket</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> March 15</small></p>
        </div>
        <div class="timeline-body">
          <p>In Phuket we are staying at Horizon Karon Beach Resort and Spa.</p>
          <div class="img-padding">
					<img class="img-responsive" src="phuket.jpg" alt="Horizon Karon">
					<div class="photo-description">
        </div>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-picture"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Time for Udon</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> March 20</small></p>
        </div>
        <div class="timeline-body">
          <p>We are staying in Nong Khai for one night to visit Jasmine's family.</p>
          <div class="img-padding">
					<img class="img-responsive" src="nongkhai.jpg" alt="Nong Khai">
					<div class="photo-description">
        </div>
        </div>
      </div>
    </li>
      <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-camera"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Lets go to Chiang Mai</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> March 21-24</small></p>
        </div>
        <div class="timeline-body">
          <p>We are headed to Chiang Mai to eat and explore some temples!</p>
          <div class="img-padding">
					<img class="img-responsive" src="chiangmai.jpg" alt="Chiang Mai">
					<div class="photo-description">
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-map-marker"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Back to Bangkok</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> March 24-25</small></p>
        </div>
        <div class="timeline-body">
          <p>We are finishing up the epic trip back in Thailand.</p>
          <div class="img-padding">
					<img class="img-responsive" src="bangkokskyline.jpg" alt="Bangkok Skyline">
					<div class="photo-description">
        </div>
        </div>
      </div>
    </li>

  </ul>
			</div>
		</section>
	</div><!-- End Container-->

		<!--Gallery-->
		<div class="container">
			<section>
				<div class="page-header" id="gallery"></div>
				<div class="row">
            <div class="col-xs-12">
                <div class="instagram-content">
                    <div class="h1">Latest Photos</div>
                    <div class="row photos-wrap">
                    <!-- Instafeed target div -->
                    <div id="instafeed"></div>
                    <!-- The following HTML will be our template inside instafeed -->
                   
                        </div>
                </div>
            </div>
        </div>
				</div><!--end carousel-->

			</section>
		</div>
<hr>
<!--Follow Us-->
	<div class="container">
		<section>
			<div class="page-header" id="follow"></div>
				<div class="row">
					<div class="col-lg-12">
						<div class="h1">Follow us live</div>
						<iframe frameborder=0 style="width:100%;height:500px" src="http://www.zeemaps.com/pub?group=1810431&x=103.028190&y=14.527193&z=12"> </iframe>
					</div>
				</div>
		</section>
	</div><!-- end of container-->


	<!--footer-->

	<footer>
		<hr>
		<div class="container">
			<div class="centered-row">
				<div class="row">

					<div class="col-md-12 col-centered">
						<a class="twitter-timeline" href="https://twitter.com/hashtag/jttravelstothailand" data-widget-id="689595692222906368">#jttravelstothailand Tweets</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
							<div class="well well-sm">
							Tweet us using the hashtag #jttravelstothailand
							</div>
							<div class="footer-links">
								<a href="http://www.tylerdaniel.com">This was a fun side project, check out my website for more cool stuff<a>
							</div>
					</div>
				</div>
			</div>
		</div>
	</footer>


	<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript" src="instafeed.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>	
</html>